{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<div class="contain" align="center">
    <div class="box">
<h1 align="center">Vul hier je voorspellingen in</h1>
<h4 align="left">Druk op veld 'nothing selected' achter het grijze veld met de afstand waarvan je een voorspelling wilt toevoegen</h4>
<br>
<h4 allign="left">Vink altijd het bovenste vakje met de afstand aan. Het is verplicht dit veld aan te klikken.</h4>
<br>
<h4 allign="left">Bevestig je keuze met de bevestigingsknop</h4>
<br> <br>
<h2 allign="left">Wil je je voospelling veranderen?</h2>
<h4 align="left">Klik op het kruisje achter je voorspelling om je oude voorspelling te verwijderen. Zodra je de oude voorspelling hebt verwijderd kan je een nieuwe voorspelling toevoegen</h4>
<br> <br> <br>
    </div>
</div>


{% for event in startlist %}
    {% if scheduled_starttimes[loop.index0] > time_now %}
    <form class="form-horizontal" method="POST" role="form">
        <div class="input-group">
          <span class="input-group-addon">
              {{ event.partition('.')[0] }}
              <br> <br>
              {{ scheduled_starttimes[loop.index0] }}
              <br> <br>
              {% if scheduled_starttimes[loop.index0] > time_now %}
              Tijd tot deadline:
                {{ scheduled_starttimes[loop.index0] - time_now }}
              {% endif %}
          </span>
             <select
                name='prediction' id="prediction"
                class="selectpicker show-menu-arrow form-control"
                multiple data-max-options="4"
                data-live-search="true"
                data-size="20"
                data-width = '100%'
                data-container="body"
             >
                <optgroup label = 'event'>
                 <option value="{{ event }}">
                     {{ event }}
                 </option>
                </optgroup>
                <optgroup label="1e keuze (telt 2x)">
                    {% for i in range(startlist[event]|count) %}
                    <option value="{{startlist[event][i]}}">
                       {{ i+1 }}. {{startlist[event][i]}}
                    </option>
                    {% endfor %}
                </optgroup>
                <optgroup label="2e keuze (telt 1.5x)">
                    {% for i in range(startlist[event]|count) %}
                    <option value="{{startlist[event][i]}}">
                       {{ i+1 }}. {{startlist[event][i]}}
                    </option>
                    {% endfor %}
                 </optgroup>
                <optgroup label="3e keuze (telt 1x)">
                    {% for i in range(startlist[event]|count) %}
                    <option value="{{startlist[event][i]}}">
                       {{ i+1 }}. {{startlist[event][i]}}
                    </option>
                    {% endfor %}
                </optgroup>
            </select>

            <span class="input-group-btn">
            <button class="btn btn-default" type="submit" id="bevestigen">Bevestigen</button>
            </span>

        </div>
        </form>
        {% for prediction in user.predictions %}
            <li class="list-group-item">
            {% if prediction.event == event %}
                {{ prediction.rider_one }}
                {{ prediction.rider_two }}
                {{ prediction.rider_three }}

                    <button type="button" class="close" onClick="deletePrediction({{ prediction.id }})">
                         <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
            </li>
  {% endfor %}
{% endif %}





{% endfor %}



{% endblock %}
