{% extends "base.html" %} {% block title %}Mijn Voorspellingen{% endblock %} {% block content
%}
<h1 align="center">Vul hier je voorspellingen in</h1>
<h2 allign="left">Zodra de startlijsten bekent zijn worden die hier weergegeven. Het kan wel nodig zijn om eerst op de knop Ververs de data te drukken. Deze knop laat de startlijsten en uitslagen opnieuw in.</h2>
<br>
<h4 align="left">Druk op veld 'nothing selected' achter het grijze veld met de afstand waarvan je een voorspelling wilt toevoegen</h4>
<br>
<h4 allign="left">Vink altijd het bovenste vakje met de afstand aan. Het is verplicht dit veld aan te klikken.</h4>
<br>
<h4 allign="left">Bevestig je keuze met de bevestigingsknop</h4>
<br> <br>
<h2 allign="left">Wil je je voospelling veranderen?</h2>
<h4 align="left">Klik op het kruisje achter je voorspelling om je oude voorspelling te verwijderen. Zodra je de oude voorspelling hebt verwijderd kan je een nieuwe voorspelling toevoegen</h4>
<br> <br> <br>


{% for event in events %}
    <form class="form-horizontal" method="POST" role="form">
        <div class="input-group">
          <span class="input-group-addon">{{ event }}
              <br> <br>
              {{ starttimes[loop.index0] }}</span>
             <select name='prediction' id="prediction"
              class="selectpicker show-menu-arrow form-control"
              multiple data-max-options="4"
              data-live-search="true">
                 <option
                     value="{{ event }}">
                     {{ event.partition('_')[2] }}
                 </option>
                {% for i in range(startlist[event]|count) %}
                <option
                    value="{{startlist[event][i]}}">
                           {{ i+1 }}. {{startlist[event][i]}}
                </option>
                {% endfor %}
      </select>
        {% if starttimes[loop.index0] < time_now %}
            <span class="input-group-btn">
            <button class="btn btn-default" type="submit" id="bevestigen">Bevestigen</button>
            </span>
        {% endif %}
        </div>
        </form>
        {% for prediction in user.predictions %}
            <li class="list-group-item">
          {% if prediction.event == event %}
                {{ prediction.rider_one }}
                {{ prediction.rider_two }}
                {{ prediction.rider_three }}
                {% if starttimes[loop.index0] < time_now %}
                    <button type="button" class="close" onClick="deletePrediction({{ prediction.id }})">
                         <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
            </li>
          {% endif %}
        {% endfor %}





  <br />  <br />  <br />  <br />
{% endfor %}






{% endblock %}
