{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<div class="contain" align="center">
    <div class="box">
        <h2 align="center">Zodra de startlijst bekent word is het mogelijk om onder het "voorspellen" tabblad voor elke afstand 3 schaatsers te kiezen. Voor elke rijder geld een vermenigingsvuldigingsfactor van 2x, 1,5 of 1x. Let bij de teamselectie goed op dat je de juiste vermenigingsvuldigingsfactor koppelt aan de juiste rijder.</h2>
        <br>
        <h2 align="center">Op het "voorspellen" tabblad staat bij elke afstand ook een tijd en datum vermeld. Zorg ervoor dat je voor dit tijdstip je voorspelling hebt ingevuld, na het tijdstip is dit niet meer mogelijk.</h2>
        <br>
        <h2 align="center">Elke gouden medaille die jouw gekozen schaatsers halen levert 4 punten op. Elke zilveren medaille 2 punten en elke bronzen medaille levert 1 punt op.</h2>
    </div>
</div>
{% endblock %}
