{% extends "base.html" %} {% block title %}Voorspellingen{% endblock %} {% block content %}

<style>
    body {
        background-image: url('https://lh3.googleusercontent.com/qtdoAg7Kqqb05EDLWJFNJi9z1JP3WDSBv-pu41zc2646OvydEF7bQaX_u3Eec-AopHwpiuPekBf1txF0opT_MhLqJkZNbAPuDurImSYqrEswrsSF9lPA_0UJoAqO4BBhvTxgUj6_-A=w2400');
        background-repeat: no repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<h1 align="center">Bekijk hier alle voorspellingen</h1>
<h4 align="left">Zodra de wedstrijd begonnen is (en de voorspellingen niet meer kunnen worden aangepast verschijnen hier alle voorspellingen</h4>

{% for event in startlist %}
<button type="button" class="collapsible">{{ event.partition('.')[0] }}</button>
<div class="content">
    {% if starttimes[loop.index0] < time_now %}
            {% for prediction in predictions %}
                {% if prediction.event == event %}
                    <h5>{{ prediction.user_name }}
                    :
                    1.
                    {{ prediction.rider_one }}
                    2.
                    {{ prediction.rider_two }}
                    3.
                        {{ prediction.rider_three }} </h5>
                        <br>
                {% endif %}
                {% endfor %}
    {% endif %}
        {% if starttimes[loop.index0] > time_now %}
    <h5>Wie hebben er al voorspeld?</h5>
            {% for prediction in predictions %}
                {% if prediction.event == event %}
                <h6>
                    {{ prediction.user_name }}</h6>
                {% endif %}


            {% endfor %}
    {% endif %}

</div>
{% endfor %}

{% endblock %}
